{% extends "../core/layout.html" %}

{% block title %}
Salsa Fuego - Merch Collection
{% endblock %}

{% block body %}
<section>
	<div class="container">
		<div class="row">
			<div class="col">
        <h1>Merch Collection</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis convallis magna, sit amet accumsan lorem. Nam ornare augue ac velit dignissim consequat. Pellentesque facilisis auctor eros, vitae blandit magna pharetra a. Aliquam aliquet iaculis erat, eu placerat elit congue quis. Nam in risus at justo tristique vulputate at quis nibh. Aliquam semper felis nibh, sit amet interdum nunc porta vel. Sed vel condimentum nisi, a gravida est. Nullam tristique metus lorem.</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
