{% extends "core/layout.html" %}

{% block title %}
Salsa Fuego
{% endblock %}

{% block body %}
    <style>
      ul.nutrition-facts
      {
          list-style: none;
          overflow-x: hidden;
          padding: 0;
          width: 250px;
      }
      ul.nutrition-facts li.nested ul {
          list-style: none;
          padding: 0 0 0 20px;
      }
      ul.nutrition-facts li:not(.nested):before {
          float: left;
          content: ". . . . . . . . . . . . . . . . . . . . "
                   ". . . . . . . . . . . . . . . . . . . . "
                   ". . . . . . . . . . . . . . . . . . . . "
                   ". . . . . . . . . . . . . . . . . . . . ";
          white-space: nowrap;
          width: 0;
      }
      ul.nutrition-facts li span:first-child {
          background: white;
          padding-right: 10px;
      }
      ul.nutrition-facts li span:last-child {
          background: white;
          float: right;
          padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Flavor {{ product.name }}</h1>
    <ul>
      <li>{{ product.description }}</li>
      <ul>
        {% for product_variant in product_variants %}
          <li>
            {{ product_variant }}
          </li>
        {% empty %}
          <li>wut?</li>
        {% endfor %}
      </ul>
    </ul>
    <!-- WUT IS UP WIT DIS? NEED TO FIGURE OUT HOW TO USE A RELATIVE PATH THAT WORKS -->
    <img src="http://127.0.0.1:8000{{ product.product_image.url }}" >
    <h2>Ingredients</h2>
    <ul>
      {% for ingredient in ingredients %}
        <li>
          {{ ingredient }}
        </li>
      {% empty %}
        <li>wut?</li>
      {% endfor %}
    </ul>
    <h2>Nutrition Facts</h2>
    <ul class="nutrition-facts">
      <li>
        <span>Calories</span>
        <span>{{ nutrition_facts.calories }}g</span>
      </li>
      <li>
        <span>Total Fat</span>
        <span>{{ nutrition_facts.total_fat }}g</span>
      </li>
      <li class="nested">
        <ul>
          <li>
            <span>Saturated Fat</span>
            <span>{{ nutrition_facts.saturated_fat }}g</span>
          </li>
          <li>
            <span><i>Trans</i> Fat</span>
            <span>{{ nutrition_facts.trans_fat }}g</span>
          </li>
        </ul>
      </li>
      <li>
        <span>Sodium</span>
        <span>{{ nutrition_facts.sodium }}mg</span>
      </li>
      <li>
        <span>Total Carbohydrate</span>
        <span>{{ nutrition_facts.total_carbohydrate }}g</span>
      </li>
      <li>
        <span>Total Sugars</span>
        <span>{{ nutrition_facts.total_sugars }}g</span>
      </li>
      <li class="nested">
        <ul>
          <li>
            <span>Added Sugars</span>
            <span>{{ nutrition_facts.added_sugars }}g</span>
          </li>
        </ul>
      </li>
      <li>
        <span>Protein</span>
        <span>{{ nutrition_facts.protein }}g</span>
      </li>
    </ul>
    <h3>Related Recipes</h3>
    <ul>
      {% for recipe in recipes %}
        <li><a href="{% url 'recipe_details' recipe.slug %}">{{ recipe }}</a></li>
      {% endfor %}
    </ul>
    <a href="{% url 'products' %}">back to products</a>

{% endblock %}
